.roboto-font {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

* {
    padding: 0;
    margin: 0;
}

/* sheare style */
.display-flex {
    display: flex;
}

.color-size {
    color: rgb(137, 135, 161);
    font-family: Inter;
    font-size: 1rem;
    text-align: left;
}

.color-normal {

    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.color-bold {
    color: rgb(37, 36, 50);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.12rem;
    text-align: left;
}

.color-orenge {
    color: rgba(233, 90, 8, 1);
    font-family: Inter;

}

/* header style */
.nav {
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    height: 71px;
    margin: 0 auto;


    margin-top: 30px;


}

.nav img {
    max-width: 100%;
    height: 82px;
}

.Menu-items {
    gap: 48px;


}

.list {
    list-style: none;

    gap: 48px;

}

.cart-icon {
    gap: 10px;
}

/* banner style */
.banner {
    max-width: 1140px;
    height: 461px;
    margin: 0 auto;
    margin-top: 120px;
    align-items: flex-end;

}

.banner-left {
    max-width: 570px;
    height: 299px;
    gap: 13px;



}

.banner-Title {
    font-family: Inter;
    font-size: 4rem;

}

.banner-paragraph {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
    font-family: Inter;
    text-align: left;
}


.banner img {
    max-width: 100%;
    height: 355px;
}

/* main section */

/* Plants Section */
.Plants-Section {
    max-width: 1140px;
    gap: 49px;
    margin: 0 auto;
    margin-top: 120px;
}

.plant-Title-subtitle {
    text-align: center;
}

.plant-Title {
    font-family: Noto Serif;
    font-size: 3.125rem;
    font-weight: 700;
    line-height: 4.25rem;

}

.plant-subtitle {
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 1.32rem;
    font-weight: 400;
    max-width: 888px;
    height: 54px;
    text-align: center;

    margin: 0 auto;
    margin-bottom: 49px;
}

.one-card {
    flex-direction: column;
    justify-content: space-between;
    max-width: 270px;
    height: 484.94px;
    text-align: center;


}

.one-card img {
    max-width: 100%;

}

.one-card h4 {
    text-align: center;
    color: rgb(17, 17, 17);
    font-family: Inter;
    font-size: 1.32rem;
    font-weight: 500;



}

.one-card,
.USD {
    text-align: center;
    color: rgb(17, 17, 17);
    font-family: Inter;
    font-size: 1.32rem;
    width: 700;

}

.one-card button {
    max-width: 270px;
    height: 50px;

    background-color: rgb(233, 90, 8);

    border: none;
}

.one-card button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
}

.eight-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 18px;
    margin-top: 58px;


}

/* Plants Lover Section  */
.Plants-Lover-all {
    max-width: 1140px;
    align-items: center;
    margin: 0 auto;
    position: relative;
    top: 200px;

}

.trusted img {
    max-width: 286px;
    height: 286px;
    margin-left: 600px;
    position: absolute;
    z-index: 100;
    left: 130px;
    top: 2060px;
}

.Plants-Lover-right {

    max-width: 540px;
    margin-left: 60px;

}

.Plants-Lover-left img {
    max-width: 100%;




}

.Plants-Lover-h1 {
    max-width: 540px;
    height: 137px;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 2.80rem;
    font-weight: 700;
    font-family: Noto serif;
    margin: 0;



}


.Plants-Lover-right li {
    max-width: 540px;
    height: 104px;
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 35px;
    margin-top: 20px;


}





/* responsive css style*/
@media screen and (max-width: 576px) {

    /* header style */
    .nav {
        max-width: 361px;
        height: 38px;
        gap: 185px;
        margin-bottom: 28px;
        margin-top: 13px;
        justify-items: center;
    }

    .list {
        display: none;
    }

    .nav img {
        max-width: 63px;
        height: 38px;


    }

    .cart-icon {
        max-width: 113px;
        height: 24px;



    }

    .banner {
        flex-direction: column-reverse;
        justify-items: center;
        justify-content: space-between;
        max-width: 393px;

        margin-top: 28px;





    }

    .banner img {
        max-width: 393.18px;
        height: 245px;



        /* margin-bottom: 28px;
         position: relative;
         top: -40px; */



    }

    .banner-left {
        max-width: 361px;
        height: 147px;
        margin-bottom: 28px;

        margin-left: 16px;
        margin-right: 16px;


        /* gap: 13px;
        padding: 0;
        position: relative;
        top: -28px;
        bottom: 0px; */


    }

    .banner-Title {
        font-family: Noto Serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 33px;
        letter-spacing: 0%;
        text-align: left;
    }

    .banner-paragraph {
        color: rgba(0, 0, 0, 0.5);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0%;
        text-align: left;
    }

    /* Plants Section  */

    .Plants-Section {
        max-width: 393.12px;
        margin-top: 35px;


    }

    .plant-Title {
        font-size: 1.5rem;
        margin-bottom: -16px;
        margin-top: -28px;
    }

    .plant-subtitle {
        font-size: 0.86rem;
        max-width: 336px;
        height: 68px;
        gap: 16;
        margin-top: 28px;

    }

    .Lily-Blossom {
        max-width: 96px;
        height: 34px;

    }

    .one-card {
        max-width: 171px;
        height: 340px;
        justify-items: center;


    }

    .one-card img {
        max-width: 171px;
        height: 196px;
    }

    .one-card h4 {
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        text-align: center;
        position: relative;
        left: 40px;


    }

    .one-card button {
        max-width: 171px;
        height: 50px;

    }

    .USD {
        position: relative;
        left: 40px;

    }

    .one-card button a {
        font-size: 1rem;
        font-weight: 600;
        max-width: 110px;
        height: 12px;


    }



    .eight-card {
        grid-template-columns: repeat(2, 1fr);

        max-width: 362px;

        gap: 28px 20px;
        margin: 0 auto;
    }

    /* Plants-Lover-section */
    .Plants-Lover-all {
        flex-direction: column;
        max-width: 358px;
        margin-top: -80px;
        border: 2px solid red;
    }

    .trusted img {
        display: none;
    }

    .Plants-Lover-left {
        height: 396px;
    }

    .Plants-Lover-right {
        max-width: 361px;
        border: 1px solid red;
        margin-left: 0px;
        margin-top: 18px;
    }

    .Plants-Lover-right h1 {
        color: rgb(0, 0, 0);
        font-family: Noto Serif;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 33px;
        letter-spacing: 0%;
        text-align: left;
        border: 1px solid red;
    }
    .Plants-Lover-right ul{
        margin-top: -104px;
        border: 1px solid red;
    }

    .Plants-Lover-right li {
        max-width: 361px;
        height: 51px;
        color: rgba(0, 0, 0, 0.5);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-align: left;
        border: 1px solid red;

    }




}