.roboto-font {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

* {
    padding: 0;
    margin: 0;
}

/* sheare style */
.display-flex {
    display: flex;
}

.color-size {
    color: rgb(137, 135, 161);
    font-family: Inter;
    font-size: 1rem;
    text-align: left;
}

.color-normal {

    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.color-bold {
    color: rgb(37, 36, 50);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.12rem;
    text-align: left;
}

.color-orenge {
    color: rgba(233, 90, 8, 1);
    font-family: Inter;

}

/* header style */
.nav {
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    height: 71px;
    margin: 0 auto;
    border: 1px solid red;

    margin-top: 30px;


}

.nav img {
    max-width: 100%;
    height: 82px;
}

.Menu-items {
    gap: 48px;


}

.list {
    list-style: none;

    gap: 48px;

}

.cart-icon {
    gap: 10px;
}

/* banner style */
.banner {
    max-width: 1140px;
    height: 461px;
    margin: 0 auto;
    margin-top: 120px;
   
    align-items: flex-end;

}

.banner-left {
    max-width: 570px;
    height: 299px;
    gap: 13px;
    

}

.banner-Title {
    font-family: Inter;
    font-size: 4rem;

}

.banner-paragraph {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
    font-family: Inter;
    text-align: left;
}


.banner img {
    max-width: 570px;
    height: 355px;
    

}



/* responsive css style*/
@media screen and (max-width: 576px) {
    .nav {
        max-width: 361px;
        height: 38px;
        gap: 185px;
        margin-bottom: 28px;
        margin-top: 67px;
        justify-items: center;
    }

    .list {
        display: none;
    }

    .nav img {
        max-width: 63px;
        height: 38px;
        

    }

    .cart-icon {
        max-width: 113px;
        height: 24px;



    }

    .banner {
        flex-direction: column-reverse;
        justify-items: center;
        max-width: 393px;
        border: 1px solid red;
        margin-top: 28px;
        
        

    }

    .banner img {
        max-width: 393px;
        height: 245px;
         border: 1px solid red;
         margin-bottom: 28px;
         position: relative;
         top: -40px;
        


    }

    .banner-left {
        max-width: 361px;
        height: 147px;
        gap: 13px;
        border: 1px solid red;
        margin-left: 16px;
        margin-right: 16px;
        padding: 0;
        position: relative;
        top: -28px;
        bottom: 0px;
        

    }

    .banner-Title {
        font-family: Noto Serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 33px;
        letter-spacing: 0%;
        text-align: left;
    }

    .banner-paragraph {
        color: rgba(0, 0, 0, 0.5);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0%;
        text-align: left;
    }



}