.roboto-font {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

* {
    padding: 0;
    margin: 0;
}

/* sheare style */
.display-flex {
    display: flex;
}

.color-size {
    color: rgb(137, 135, 161);
    font-family: Inter;
    font-size: 1rem;
    text-align: left;
}

.color-normal {

    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.color-bold {
    color: rgb(37, 36, 50);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.12rem;
    text-align: left;
}

.color-orenge {
    color: rgba(233, 90, 8, 1);
    font-family: Inter;

}

/* header style */
.nav {
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    height: 71px;
    margin: 0 auto;


    margin-top: 30px;


}

.nav img {
    max-width: 100%;
    height: 82px;
}

.Menu-items {
    gap: 48px;


}

.list {
    list-style: none;

    gap: 48px;

}

.cart-icon {
    gap: 10px;
}

/* banner style */
.banner {
    max-width: 1140px;
    height: 461px;
    margin: 0 auto;
    margin-top: 120px;

    align-items: flex-end;

}

.banner-left {
    max-width: 570px;
    height: 299px;
    gap: 13px;


}

.banner-Title {
    font-family: Inter;
    font-size: 4rem;

}

.banner-paragraph {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
    font-family: Inter;
    text-align: left;
}


.banner img {
    max-width: 570px;
    height: 355px;


}

/* main section */

/* Plants Section */
.Plants-Section {
    max-width: 1140px;
    height: 1186.88px;
   
    gap: 49px;
    margin: 0 auto;
    margin-top: 120px;
}

.plant-Title-subtitle {
    text-align: center;
}

.plant-Title {
    font-family: Noto Serif;
    font-size: 3.125rem;
    font-weight: 700;
    line-height: 4.25rem;

}

.plant-subtitle {
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 1.32rem;
    font-weight: 400;
    max-width: 888px;
    height: 54px;
    text-align: center;
    
    margin: 0 auto;
    margin-bottom: 49px;
}

.one-card {
    flex-direction: column;
    justify-content: space-between;
    max-width: 270px;
    height: 484.94px;
    text-align: center;   

}
.one-card img{
    max-width: 100%;
    
}
.one-card h4{
    text-align: center;
    color: rgb(17, 17, 17);
    font-family: Inter;
    font-size: 1.32rem;
    font-weight: 500;
   
    line-height: 150%;


}
.one-card, .USD{
    text-align: center;
    color: rgb(17, 17, 17);
    font-family: Inter;
    font-size: 1.32rem;
    width: 700;
    line-height: 150%;
}
.one-card button {
    max-width: 270px;
    height: 50px;
    padding: 26px 50px 36px 50px;
    background-color: rgb(233, 90, 8);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
}

.eight-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px 18px;
    margin-top: 58px;
   
}

/* responsive css style*/
@media screen and (max-width: 576px) {
    .nav {
        max-width: 361px;
        height: 38px;
        gap: 185px;
        margin-bottom: 28px;
        margin-top: 13px;
        justify-items: center;
    }

    .list {
        display: none;
    }

    .nav img {
        max-width: 63px;
        height: 38px;


    }

    .cart-icon {
        max-width: 113px;
        height: 24px;



    }

    .banner {
        flex-direction: column-reverse;
        justify-items: center;
        justify-content: space-between;
        max-width: 393px;

        margin-top: 28px;



    }

    .banner img {
        max-width: 393.18px;
        height: 245px;

        /* margin-bottom: 28px;
         position: relative;
         top: -40px; */



    }

    .banner-left {
        max-width: 361px;
        height: 147px;

        margin-left: 16px;
        margin-right: 16px;

        /* gap: 13px;
        padding: 0;
        position: relative;
        top: -28px;
        bottom: 0px; */


    }

    .banner-Title {
        font-family: Noto Serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 33px;
        letter-spacing: 0%;
        text-align: left;
    }

    .banner-paragraph {
        color: rgba(0, 0, 0, 0.5);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0%;
        text-align: left;
    }
    .Plants-Section{
        max-width: 393.12px;
        border: 1px solid red;
        margin-top: 65px;

    }
    .plant-Title{
        font-size: 1.5rem;
    }
    .plant-subtitle{
        font-size: 0.86rem;
    }

    
    .eight-card{
        grid-template-columns: repeat(2,1fr);
        border: 1px solid red;
        width: 362px;
        height: 340px;
        justify-items: center;
        align-items: center;
        gap: 20px;
    }



}